      <div class="header">
          <h1 class="title">
              <a href="{{ site.baseurl }}/" title="Bitledger">
                  BIT<strong>LEDGER</strong>
              </a>
          </h1>

          <div class="nav">
              <a href="https://twitter.com/bitledger" title="@bitledger">
                  <i class="fa fa-twitter"></i>
              </a>
              <a href="https://github.com/cbeams/bitledger" title="cbeams/bitledger">
                  <i class="fa fa-github"></i>
              </a>
              <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="RSS">
                  <i class="fa fa-rss"></i>
              </a>
          </div>
      </div>
